root {
  padding: 0px;
  border: 0px;
  margin-top: 0px;
}

/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #c1440e;
}

.main-div {
  margin-left: 100%;
  background-color: gray;
}

.login {
  color: #A12058;
}

.inside-div {
  height: 500px;
  width: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.username {
  width: 200px;
  height: 30px;
  border: 2px solid rgb(213, 120, 120);
  border-radius: 10px;
  font-size: large;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.password {
  width: 200px;
  height: 30px;
  border: 2px solid rgb(213, 120, 120);
  border-radius: 10px;
  font-size: large;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}



.signin {
  margin-top: 50px;
  height: 30px;
  width: 150px;
  color: black;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid black;
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.signin:hover {
  cursor: pointer;
  transition: top ease 0.5s;
  top: -10px
}

 */


/* Second */


/* .navbar {
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
} */

.main-div {
  display: flex;
}

.left-div {
  width: 50%;
  height: 100vh;
  background-color: #c1440e;
}

.right-div {
  width: 50%;
  height: 100vh;
  background-color: pink;
}